

.top-header {
	width: 120%;
	display: flex;
	margin: 0 auto;
	margin-left: -10%;
}
.th-second {
	flex: 1;
	background-color:pink;
	position: relative;
}

.th-second::after {
	opacity: 1;
	content: "";
	background-image: url('mid.jpeg');
	background-repeat: no-repeat;
	background-size: 180px 180px;
	margin-left: -5%;
	background-position: center;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: skew(20deg);
	transition: all 1s ease;
}
/* .top-header-seperator {
	height: 5px;
} */
.top-header-main {
	overflow: hidden;
	width: calc(100% - 20px);
	margin: 10px 10px;
	border-left: 5px solid rgb(243, 105, 128);
	border-right: 5px solid rgb(243, 105, 128);
}
.th-first, .th-second, .th-third {
	padding: 20px;
	background-color: rgb(206, 16, 16);
	height: 200px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	transform: skew(-20deg);
	overflow: hidden;
	transition: all 1s ease;
}

.th-first, .th-third {
	flex: 4;
	border: 5px solid rgb(243, 105, 128);
	background-color: #fff;
	position: relative;
	transition: all 1s ease;
}
.th-first::after {
	content: "";
	background-image: url('aah1.jpeg');
	background-repeat: no-repeat;
	background-size: 180px 180px;
	margin-left: 10%;
	background-position: center;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: skew(20deg);
	transition: all 1s ease;
}
.th-third::after {
	content: "";
	background-image: url('top-header-2.jpg');
	background-repeat: no-repeat;
	background-size: 180px 180px;
	margin-left: -10%;
	background-position: center;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: skew(20deg);
	transition: all 1s ease;
}
.th-second {
	flex: 1;
	background-color: var(--main-color);
	position: relative;
}
	
@media screen and (min-width: 768px){
	
}
@media screen and (max-width: 768px){ 
	.th-first, .th-second, .th-third {
		height: 140px;
	}
	.th-first, .th-third {
		border-width: 3px;
	}
	.th-second {
		flex: 2;
	}
	.top-header-main {
		border-width: 3px;
		border-width: 3px;
	}
	.th-first::after,
	.th-third::after {
		background-size: 120px 120px;
	}
	
	.th-second::after {
		background-size: 100px 100px;
	}
}

.canvas-banner {
	 height: calc(100vh - 220px);
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	position: relative;
}
#particle-canvas {
  	width: 100%;
  	height: 100%;
}

@media screen and (max-width: 768px){ 
	.canvas-banner {
		height: calc(100vh - 160px);
	}
}
.canvas-banner::after{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 9999999
}
.canvas-banner .canvas-content {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 9999999;
	width: 100%;
	text-align: center;
	margin-top: 120px;
}
.canvas-banner .canvas-content .canvas-heading {
	color:aqua;
	font-family: 'Open Sans';
	font-weight: 100;
	line-height: 1.6;
}
.canvas-banner .canvas-content .canvas-heading .name {
	color: lightpink;
	font-weight: 700;
}
.canvas-banner .canvas-content .view-btn {
	background-color: transparent;
	padding: 12px 30px;
	border: 2px solid #fff;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 600;
	transition: 1s ease;
}
.canvas-banner .canvas-content .view-btn:hover {
	background-color: aqua;
	border-color:darkslateblue;

}
.canvas-banner .canvas-content .view-btn span {
	margin-left: 8px;
	transition: 1s ease;
}
.canvas-banner .canvas-content .view-btn:hover i {
	transform: rotate(90deg);
	transition-duration: 1s;
}
@media screen and (max-width: 768px){ 
	.canvas-banner .canvas-content {
		margin-top: 120px;
	}
	.canvas-banner .canvas-content .canvas-heading {
		font-size: 26px;
	}
}
@keyframes blink-caret { 
	50% { 
		border-color: transparent; 
	} 
}
/* em {
	border-right: .1em solid black;
	width: 20ch;
	white-space: nowrap;
	overflow: hidden;
  	margin-top: 0;
  	color: #3295dd;
	-webkit-animation: typing 5s steps(21, end),
	blink-caret .5s step-end infinite alternate;
} */
#typeline {
	color: pink;
}
/* ----------- End Canvas -------------- */

.navbar {
	background-color: #041824!important;
	height: 60px;
	border-bottom: 4px solid rgb(124, 124, 241);
}
.navbar .nav-item .nav-link {
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
	font-family: 'Open Sans' sans-serif;
	font-weight: 600;
}
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item.active .nav-link {
	color: red;
}
.navbar .navbar-brand {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2px;
	color: rgb(232, 241, 243);
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: red;
}
.nav-item.dropdown .dropdown-menu .dropdown-item {
	font-family: 'Open Sans' sans-serif;
	font-weight: 600;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
	color: red;
}
@media screen and (max-width: 992px) {
	.navbar-collapse {
		background-color: rgba(101, 163, 185, 0.7);
		margin-top: px;

	}
}
.navbar-toggler {
	position: relative;
}
.navbar-toggler:focus{
	border: 0;
	outline:none
}
.navbar-toggler .bar1,
.navbar-toggler .bar2,
.navbar-toggler .bar3 {
  width: 35px;
  height: 3px;
  background-color:rgb(247, 247, 247);
  margin: 8px 0;
  transition: 0.4s;
}
.navbar-toggler.menu-clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.navbar-toggler.menu-clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.navbar-toggler.menu-clicked .bar2 {opacity: 0;}

.navbar-toggler.menu-clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: red;
	font-weight: 700;
}

.heading {
	position: relative;
	margin-top: 70px;
	text-align: center;
}
.heading .section-heading {
	color: var(--second-color);
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.heading .section-heading::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 75%;
	background-color: rgba(230, 98, 98,0.8);
}
.heading .section-heading::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 4px;
	width: 25%;
	background-color:rgba(137, 240, 206,0.8);
}

@media screen and (min-width: 768px) {

	.heading .section-heading {
	    font-size: 30px;
	}
}




.about .box {
	background-color: rgb(21, 232, 232);
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57736);
    z-index: 0;
}
.about .box-wrap {
  	display: block;
    height: 100px;
    position: relative;
    text-align: center;
    top: -5px;
    width: 80px;
    z-index: 2;
    margin: 20px auto 0;
}

.about .box::before {
	background-color: rgb(73, 235, 170);
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
    z-index: -9;
}
.about .box::after {
	background-color:inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
    z-index: -9;
}
.about .box i {
	 color: rgb(1, 11, 11); 
    font-size: 20px;
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 1;
    opacity: 0.5;
}
.about .box .number {
	color: rgb(240, 237, 237);
    font-size: 40px;
    left: 0;
    position: relative;
    right: 0;
    top: 20px;
    z-index: 9;
    font-weight: 700;
}
.about .content {
	margin-bottom: 20px;
}
.about .content .label{
	font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans';
    text-align: center;
    padding: 15px 0 5px;
}
.about .content .desc{
	font-size: 12px;
    font-family: 'Open Sans';
    text-align: center;
    
}
@media screen and (min-width: 768px){
	.about .box-wrap {
	    height: 100px;
	    width: 100px;
	}
	.about .box i {
		top: 15px;
	}
	.about .box .number {
		font-size: 45px;
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 30px;
	    z-index: 9;
	    font-weight: 700;
	}
	.about .content .label{
		font-size: 24px;
	 }
	.about .content .desc{
		font-size: 14px;
	}
}
.about .me {
	margin-top: 50px;
}
.me .img-me {
	width: 60%;
  height: 60%;;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
  border-radius: 30px;
  transition: 1.5s;
}
.img-me:hover{
	cursor:default;
	transform: scale(1.03);
}
.me .img-me+.who-me {
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: black;
	opacity: 0.7;
}
.about .me .name {
	margin: 0px 0px 10px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: var(--second-color);
	opacity: 0.8;
	padding: 0;
}

.about .me .desc {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 20px;
}
.about .me .points+.desc {
	margin-top: 20px;
}
.about .me .points {
	font-size:14px;
	line-height: 30px;
}
.about .me .points i.fa {
	width: 25px;
	text-align: center;
	color : var(--third-color);
}
.about .me .resume-btn {
	background-color: red;
	color: #fff;
	padding: 12px 30px;
	margin-top: 20px;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 600;
	transition: 1s ease;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.about .me .resume-btn::before {
	width: 100%;
	height: 100%;
	content: '';
	margin: auto;
	position: absolute;
	top:  -100%;
	left: -100%;
	background: green;
	transition: all .5s;
	z-index: -1;
			
}
.about .me .resume-btn:hover {
	/*border-color: var(--main-color);*/
	color: azure;
}
.about .me .resume-btn:hover::before {			
	top: 0;
	left: 0;

}
@media screen and (max-width: 768px) {
 	.about .me .who-me {
 		font-size: 20px;
 	}
 	.about .me .who-me+.desc {
 		font-size: 16px;
 	}
}

/* modal css */
.modal-img {
	width: 100%;
	max-width: 100%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.modal-heading {
	font-family: 'Open Sans';
	padding: 10px 0;
	color: red;
}





/* ----------- Contact -------------- */
.contact {
	margin-top: 80px;
	background: #252934;
	padding-bottom: 70px;
	position: relative;
}

.contact .section-heading {
	color: #fff;
}
.contact .heading .have-que {
	color: var(--third-color);
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact .form-wrap {
	padding: 0 50px;
}
.contact .form-wrap p#alertmessage {
	color: var(--third-color);
	font-size: 16px;
	margin-top:15px;
}
@media (max-width: 900px) {
	.contact .form-wrap {
		padding: 0px 0px;
	}
}
.contact .form-control {
	background-color: var(--second-color);
	border:0;
	outline: 0;
	border-radius: 0;
	margin: 5px 0;
	padding-top:15px; 
	padding-bottom:15px; 
	font-size: 14px;
	color: #fff;
}
.contact .form-control:focus{
	outline: none !important;
	box-shadow: none;
}

.contact .submit-btn {
	background-color: transparent;
	padding: 8px 10px;
	border: 2px solid #fff;
	margin-top: 10px;
	font-size: 14px;
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 600;
	transition: 0.5s ease;
	float: right
}
.contact .submit-btn:hover {
	background-color: green;
  cursor: pointer;
	border-color: var(--third-color);

}
@media screen and (max-width: 768px) {
	.contact .heading .have-que {
		font-size: 14px;
	}
}
.temp{
	color: #fff;
}

/* ----------- End Contact -------------- */


/* ----------- Footer -------------- */
footer {
	background-color:#041824;
	text-align: center;
	position: relative;
	padding: 30px;
}
footer .scroll-top {
	position: absolute;
	top: -25px;
	left: calc(50% - 27px);
	background-color:rgb(221, 96, 96);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 16pt;
    height: 55px;
    width: 55px;
   	line-height: 50px;
    transition:  0.5s;
    color: rgb(244, 244, 244);
}
footer .scroll-top:hover i {
	animation: fromBottomToTop 0.3s forwards;
}
@keyframes fromBottomToTop {
	49% {
	    transform: translateY(-100%);
	}
	50% {
	    opacity: 0;
	    transform: translateY(100%);
	}
	51% {
	    opacity: 1;
	}
}

footer .icon-wrap {
	margin-top: 50px;
}
footer .icon-wrap .icon {
	background: #2d343b;
    cursor: pointer;
    font-size: 18px;
    height: 60px;
    width: 60px;
    margin: 0 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition:  0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    display: inline-block;
    line-height: 3;
    color: rgb(21, 3, 3);

}
footer .icon-wrap .icon:hover {
	 background: rgb(13, 199, 199);
    box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
    transform: scale(0.9);
    
}
footer .icon-wrap .icon:hover i {
	-webkit-animation: toBottomFromTop 0.5s forwards;
    -moz-animation: toBottomFromTop 0.5s forwards;
    animation: toBottomFromTop 0.5s forwards;
}
@keyframes toBottomFromTop {
	49% {
	    transform: translateY(100%);
	}
	50% {
	    opacity: 0;
	    transform: translateY(-100%);
	}
	51% {
	    opacity: 0.5;
	}
}
footer .copyright {
    color:rgba(248, 248, 248,0.5);
    font-size: 15px;
    margin-top: 35px;
    opacity: 0.5;
    font-weight: 700;
}
footer .copyright .highlight {
    color: rgb(226, 77, 77);
}

@media screen and (max-width: 768px) {
	footer .scroll-top {
	  	height: 40px;
	    width: 40px;
	    top: -22px;
		left: calc(50% - 22px);
		font-size: 14pt;
		line-height: 40px;
	}
	footer .icon-wrap {
		margin-top: 30px;
	}
	footer .icon-wrap .icon {
		font-size: 14pt;
	    height: 40px;
	    width: 40px;
	    margin: 0 5px;
	    line-height: 2.1;
	}
	footer .copyright {
	   	font-size: 10px;
	}
}


